HEADER_SEARCH_PATHS = /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/include /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/common /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/vendor /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/ggml/include /Users/fh/Projects/ai-offline-translator/flutter_app/native/translator_engine /Users/fh/Projects/ai-offline-translator/flutter_app/macos/Runner
LIBRARY_SEARCH_PATHS = /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/build-lib/src /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/build-lib/common /Users/fh/Projects/ai-offline-translator/third_party/llama.cpp/build-lib/ggml/src
OTHER_LDFLAGS = -framework Accelerate -lllama-common -lllama-common-base -lllama -lggml -lggml-cpu -lggml-base -lc++
CLANG_CXX_LANGUAGE_STANDARD = c++17
SWIFT_OBJC_BRIDGING_HEADER = Runner/TranslatorBridge-Bridging-Header.h
ARCHS = arm64
ONLY_ACTIVE_ARCH = YES
